*,
html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.fContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20vh;
    background-color: white;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 15px;
    width: 100%;
    height: 50px;
    background-color: #0c3b2e;
    border-radius: 5px;
}

.brand {
    display: flex;
    flex-direction: row;
    font-size: 25px;
    padding: 15px;
}

.firstname {
    color: #ffba00;
    font-weight: 700;
}

.lastname {
    color: white;
    font-weight: 400;
    padding-left: 4px;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation li {
    list-style-type: none;
    padding: 15px;
}

.navigation li a {
    color: white;
    text-decoration: none;
}

.navigation li a:hover {
    color: #ffba00;
    transition: all 0.3s ease-in-out;
}

.active {
    background-color: #ffba00;
    color: white;
    padding: 15px;
    border-radius: 10px;
}

.active:hover {
    color: white !important;
}

/*Bagian isi*/
.btn-custom {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

.btn-custom img {
    margin-left: 10px;
}

/*footer*/
.footer {
    background-color: #0c3b2e;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    width: 100%;
    padding-top: 90px;
    padding-bottom: 90px;
}

.footer-subscribe-social-media {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    h3 {
        color: white;
        font-size: 32px;
        padding-bottom: 55px;
    }

}

.footer-contact {
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: baseline;
    justify-content: center;
    margin-left: 80px;
}

.footer-subscribe {
    display: flex;
    flex-direction: column;

    input{
        border: none;
        background-color: #0c3b2e;
        border-bottom: 2px solid white;
        font-size: 20;
        height: 48px;
        margin-top: 6px;
        font-size: 15px;
        color: white;
    }

    button{
        margin-top: 30px;
        width: 30%;
        border-radius: 10px;
        padding: 10px;
        border: none;
        background-color: #053124;
        color: white;
        font-size: 20px;
    }
}

.footer-social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    justify-content: normal;

}

.social-media{
    display: flex;
    flex-direction: row;
}

.circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    /* membuat lingkaran */
    background-color: #FEBA01;
    /* warna biru Facebook */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
}

.circle i {
    color: white;
    /* warna ikon putih */
    font-size: 48px;
    /* ukuran ikon */
}

.footer-shortcut {
    margin-top: 110px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;

}

.footer-shortcut-wrapper {
    display: flex;
    width: 33, 3%;
    flex-direction: column;
    align-items: center;

    h3{
        font-size: 30px;
        color: #FEBA01;
    }
}

.shortcut-wrapper{
    display: flex;
    flex-direction: row;

    a{
        padding: 15px 0;
        color: white;
        text-decoration: none;
        font-size: 20px;
    }
}

.shortcut-wrapper-left{
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.shortcut-wrapper-right {
    display: flex;
    flex-direction: column;
    padding: 25px;
}